body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


p {
    font-family: sans-serif;
    line-height: 24px;
}

/* исключаем отступ у заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* fix-container */
.fix-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
}




/* intro */
.intro {
    display: flex;
    justify-content: center;
    min-height: 1000px;
    background: url(../img/intro.jpg) center no-repeat;
    background-size: cover;
}

.intro>.fix-container {
    flex-wrap: wrap;
    justify-content: center;
}

.intro>.fix-container>nav {
    margin-top: 30px;
    max-width: 1200px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-content: center;

}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    align-items: center;
}

.menu {
    display: flex;
    width: 100%;
    max-width: 620px;
    justify-content: space-between;
    align-items: center;
}

.menu_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    position: relative;
}

.menu_link:hover {
    color: #fce38a;
}

.menu_link::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 130%;
    left: 0;
    display: none;
    /* подчёркивание  */
}

.menu_link:hover::after {
    display: block;
}

.intro_title {
    max-height: 420px;
    max-width: 880px;
    line-height: 1;
    text-align: center;
}

.intro_title h2 {
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 42px;
}

.intro_title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.intro_title h1::after {
    /* афтер добавляет контент после элемента */
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 60px auto 50px;
}

.btn {
    color: #ffffff;
    text-decoration: none;
    border: 3px solid #ffffff;
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: color 0.2s linear;
}

.btn:hover {
    /* обозначаем кнопку как кликабельную */
    background-color: #ffffff;
    color: black;
}

.slider {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;

}

.slider_box {
    flex-basis: 23%;
    height: 100%;
    ;
    max-height: 70px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: auto;
    border-top: 3px solid #ffffff;
    opacity: 0.7;
    position: relative;
}

.slider_box:first-child {
    opacity: 1;
}

.slider_box:first-child::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}

.slider_box span {
    font-size: 24px;
    font-weight: 700;
    align-content: center;
}




/* Story */
.story {
    display: flex;
    justify-content: center;
    min-height: 750px;
    background: #ffffff;

}

.story>.fix-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px 0px 110px 0px;
    align-content: space-between;
}

.story__headline {
    line-height: 1.6;
    max-height: 200px;
    max-width: 965px;
    text-align: center;

    flex-basis: 100%;
}

.story__headline>h3 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive, sans-serif;
}

.story__headline>h4 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.story__headline>h4::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 45px;

}

.lorem {
    max-height: 40px;
    font-family: sans-serif;
    color: #999999;
    font-size: 15px;
}

.story__content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    max-height: 250px;
}

.content__item {
    width: 31.6%;

}

.content__item:hover .content__img {
    opacity: 0.7;

}

.content__img {
    display: flex;
    background: linear-gradient( top, #fce38a, #f38181) cover;

}
.content__img>img{
    width: 100%;
}

/* нужно сделать затемнение градиентом!!!!! */





/* merit_monitoring */
.merit_monitoring {
    min-height: 270px;
    height: 100%;
    background-color: #95e1d3;
    display: flex;
    justify-content: center;
}

.merit_monitoring>.fix-container {
    justify-content: space-between;
}

.merit__item {
    display: flex;
    width: 100%;
    max-width: 238px;
    border-right: 1px solid #b5eae0;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
}

.merit__item:first-child {
    border-left: 1px solid #b5eae0;
}

.numb {
    font-size: 72px;
    font-weight: 700;
}




/* services */
.services {
    min-height: 650px;
    display: flex;
    justify-content: center;
}

.services>.fix-container {
    padding: 110px 0px 120px;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.services__headline {
    max-height: 80px;
    max-width: 100%;
    text-align: center;
    line-height: 1.6;
    flex-basis: 100%;
}

.services__headline>h3 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive, sans-serif;
}

.services__headline>h4 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.services__headline>h4::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 0px;

}

.services-items {
    display: flex;
    min-height: 240px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    box-sizing: border-box;
    position: relative;
    padding-left: 90px;
    max-height: 120px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    line-height: 1.1;
}

.item>img {
    position: absolute;
    top: 0;
    left: 30px;

}

.item>h6 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.item>p {
    font-size: 15px;
    font-family: sans-serif;
}

.item:nth-child(-n+3) {
    border-bottom: 1px solid #e5e5e5;
}

.item:nth-child(n+4) {
    padding-top: 45px;
}

.item:nth-child(n+4)>img {
    top: 45px;
}

/* unique-design */
.unique-design {
    min-height: 850px;
    display: flex;
    justify-content: center;
    background: url(../img/unique-design-background.png) center no-repeat;
    background-size: cover;
}

.unique-design>.fix-container {
    padding-top: 110px;
    flex-wrap: wrap;
    position: relative;
}

.unique-design>.fix-container>.headline {
    box-sizing: border-box;
    max-height: 73px;
    max-width: 100%;
    text-align: center;
    line-height: 1.6;
    flex-basis: 100%;
    margin: 0px auto;
}

.headline>h3 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive, sans-serif;
}

.headline>h4 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.headline>h4::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 0px;

}

.devices-ipad {
    max-height: 580px;
    align-self: flex-end;
    margin-left: 335px;
}

.devices-iphone {
    max-height: 440px;
    position: absolute;
    bottom: -83px;
    right: 245px;
    ;
    z-index: 3;
}


/* what-we-do */
.what-we-do {
    min-height: 900px;
    display: flex;
    justify-content: center;
}

.what-we-do>.fix-container {
    padding: 110px 0px 120px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.what-we-do>.fix-container>.headline {
    text-align: center;
    line-height: 1.6;
    flex-basis: 100%;
    height: 130px;
    margin: 0px auto;
}

.lorem {
    max-height: 40px;
    font-family: sans-serif;
    color: #999999;
    font-size: 15px;
    margin: 46px auto 92px;
    flex-basis: 954px;
    text-align: center;
    line-height: 24px;
}

.rectangle {
    box-sizing: border-box;
    flex-basis: 600px;
    height: 380px;
    margin-left: auto;

}

.rectangle_item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 600px;
    height: 60px;
    border: 1px solid #e5e5e5;
    padding: 0px 20px 0px 16px;
}

.rectangle_item:nth-child(1)>.rectangle_picture {
    margin-right: 15px;
}

.rectangle_item:nth-child(3)>.rectangle_picture {
    margin-right: 16px;
}

.rectangle_item:nth-child(4)>.rectangle_picture {
    margin-right: 13px;
}

.rectangle_item:nth-child(1) .arrow {
    margin-left: auto;
}

.rectangle_item:nth-child(3) .arrow {
    margin-left: auto;
}

.rectangle_item:nth-child(4) .arrow {
    margin-left: auto;
}

.rectangle_item:nth-child(2) {
    border-top: none;
    height: 181px;
    padding: 0px 20px 0px 25px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

/* нужно сделать раскрывающийся блок */
.rectangle_item:nth-child(n+2) {
    margin-bottom: 10px;
}

/* review */
.review {
    min-height: 290px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review>.fix-container {
    padding: 0px 24px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: 150px;
    height: 150px;
    border: 3px solid #95e1d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review>.fix-container>p {
    margin-bottom: 80px;
    width: 767px;
    height: 96px;
    color: #999999;
    font-size: 24px;
    line-height: 36px;
}

.author {
    flex-basis: 150%;
    height: 22px;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    margin-left: 338px;
    margin-top: -78px;
}

.author::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}

/* TEAM */

.team {
    min-height: 1050px;
    display: flex;
    justify-content: center;
}

.team>.fix-container {
    padding: 100px 0px 110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.team>.fix-container>.headline {
    text-align: center;
    line-height: 1.6;
    flex-basis: 100%;
    height: 130px;
    margin: 0px auto;
}

.lorem {
    max-height: 40px;
    font-family: sans-serif;
    color: #999999;
    font-size: 15px;
    margin: 46px auto 92px;
    flex-basis: 954px;
    text-align: center;
    line-height: 24px;
}

.team__members {
    display: flex;
    justify-content: space-between;
}

.team__member {
    box-sizing: border-box;
    height: 542px;
    flex-basis: 380px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.team__member>img {
    width: 100%;
}

.member-name {
    flex-basis: 100%;
    height: 10px;
    color: #333333;
    font-family: Montserrat;
}

.member-role {
    height: 16px;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
}

/* Нужно сделать анимацию и иконки соц сетей для team__member */




/* brands */

.brand {
    display: flex;
    justify-content: center;
    min-height: 250px;
    background-color: #f8f8f8;
}

.brand>.fix-container {
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.brands__item {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}

.brands__item>div>img{
    width: 100%;
}

/* some-work */

.some-work {
    display: flex;
    justify-content: center;
    min-height: 410px;
}

.some-work>.fix-container {
    padding: 110px 0px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

/* our-works */

.our-works {
    display: flex;
    min-height: 780px;
    width: 100%;
}

.works__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 480px;
    max-height: 390px;
}
.works__item img{
    width: 100%;
}
/* для сжатия img нужно обернуть их в флексконтейнер и задать ширину в 100% */



/* сделать трансформации и текс поверх картинки */


                                /* rewiew2 */

.review2 {
    min-height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review2>.fix-container {
    padding: 100px 24px 130px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.review2>.fix-container>p {
    margin-bottom: 80px;
    width: 767px;
    height: 96px;
    color: #999999;
    font-size: 24px;
    line-height: 36px;
}
.author {
    flex-basis: 150%;
    height: 22px;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    margin-left: 355px;
    margin-top: -78px;
}
.author::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}


                            /* people-say */

.people-say{
    min-height: 830px;
    display: flex;
    justify-content: center;
    background: url(../img/people-background.png);
    background-size: cover;

}
.people-say>.fix-container{
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 109px 0px 129px;
}
.people-say>.fix-container>.headline{
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 99px;
}
.people-cards{
    box-sizing: border-box;
    max-width: 1104px;
    max-height: 391px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    box-sizing: border-box;
    max-width: 514px;
    max-height: 161px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 69px;
}
.card__photo{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 161px;
    margin-right: 30px;
}
.people__review{
    box-sizing: border-box;
    width: 374px;
    height: 149px;
    display: flex;
    flex-wrap: wrap;
}
.people__review>.headline{
    flex-basis: 100%;
}
.people__review>.headline>h3{
    font-size: 14px;
    font-family: Montserrat;
}
.people__review>.headline>h4{
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    line-height: 24px;
    font-family: "Roboto - Light Italic";
}
.people__review>.headline>h4::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 17px 0px;
}

                                /* blog */

.blog{
    min-height: 770px;
    display: flex;
    justify-content: center;
}
.blog>.fix-container{
    justify-content: center;
    flex-wrap: wrap;
    padding: 110px 0px 115px;
    align-content: flex-start;
}
.blog>.fix-container>.headline{
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 99px;
}
.blog__cards{
    box-sizing: border-box;
    flex-basis: 100%;
    height: 382px;
    display: flex;
    justify-content: space-between;
}
.blog__cards>.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}
.blog__cards>.card>img{
    box-sizing: border-box;
    align-self: flex-start;
    width: 100%;
}
.blog__cards>.card>.green-square{
    box-sizing: border-box;
    position: absolute;
    top: 158px;
    right: 330px;

    display: flex;
    padding: 15px;
    width: 60px;
    height: 70px;
    background-color: #95e1d3; 
}
.blog__cards>.card>.green-square>span{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    width: 30px;
    height: 40px;
}
.blog__cards>.card>h5{
    width: 223px;
    height: 10px;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    margin: 20px 0px 20px;
}
.blog__cards>.card>p{
    width: 346px;
    height: 39px;
    color: #999999;
    font-size: 15px;
    margin-bottom: 20px;
}
.blog__cards>.card>div{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}
.blog__cards>.card>div>img{
    margin-right: 7px;
}
.blog__cards>.card>div>p{
    margin-right: 19px; 
    color: #999999;
}



                                /* open_map */


.open_map{
    min-height: 200px;
    display: flex;
    justify-content: center;
    background: url(../img/open_map_background.png);
    background-size: cover;
}
.open_map>.fix-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.open_map>.fix-container>a{
    text-decoration: none;
}
.open_map>.fix-container>a>.headline{
    box-sizing: border-box;
    flex-basis: 100%;
    height: 86px;
    text-align: center;
    color: #f38181;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
}
.open_map>.fix-container>.headline>h4::after {
    margin: 20px auto;
}

                                /* mogo-web */

.mogo-web{
    min-height: 500px;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}
.mogo-web>.fix-container{
    padding: 74px 0px 70px;
    display: flex;
    justify-content: space-between;
}
.part1{
    box-sizing: border-box;
    height: 356px;
    width: 481px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part1>h5{
    box-sizing: border-box;
    color: #cccccc;
    font-family: 'Montserrat';
    font-size: 46px;
    font-weight: 700;
}
.part1>p{
    box-sizing: border-box;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    margin: 0px;
}
.part1>.followers{
    box-sizing: border-box;
    width: 480px;
    height: 34px;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    
}
.followers>span{
    font-size: 18px;
    font-weight: 700;
}
.follow-us{
    display: flex;
    align-items: center;
}
.follow-us>div{
    margin-right: 23px;
    font-family: 'Montserrat';
}
.icon{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 219px;
    height: 16px;
}

.subscribe{
    box-sizing: border-box;
    width: 380px;
    height: 40px;
    display: flex;
    align-content: center;
}
.subscribe>input{
    box-sizing: border-box;
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    padding: 14px 142px 13px 13px;
}
.subscribe>button{
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.part2{
    box-sizing: border-box;
    height: 349px;
    width: 336px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.part2__column1{
    box-sizing: border-box;
    height: 342px;
    width: 120px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.part2__column1>span{
    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}


.part2__column2{
    box-sizing: border-box;
    height: 271px;
    width: 194px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding-bottom: 7px;
}
.part2__column2>div{
    box-sizing: border-box;
    height: 51px;
    width: 194px;
    display: flex;
    flex-direction: column;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}
.part2__column2>div>span{
    color: #999999;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.part3{
    box-sizing: border-box;
    height: 351px;
    width: 268px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start; 

    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}
.part3>div{
    box-sizing: border-box;
    height: 268px;
    width: 268px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.part3>a{
    text-decoration: none;
}
.part3>a>span{
    color: #333333;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}


                                    /* footer */

footer{
    min-height: 60px;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    border-top: 1px solid #e5e5e5;
}
footer>.fix-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>.fix-container>div{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}
footer>.fix-container>div>span{
    color: #f38181;
}
